body {
    color: inherit;
  }
  #add {
    position: absolute;
    left: 20px;
    top: 80px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #play-icon {
      vertical-align: middle;
  }
  
  @media all and (min-width: 1024px) {
    #add {
      top: 100px;
    }
  }
  