@font-face {
	font-family: "Gilroy";
	src: url("../Gilroy-Medium.otf");
}

body {

	color: inherit;

	overflow: hidden;

	div,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	input,
	output,
	button,
	span {
		font-family: "Gilroy", sans-serif !important;
	}
}

.mdl-button--fab.mdl-button--colored {
	background: #413ed0 !important;
}

.mdl-slider__background-lower {
	background: #908af5 !important;
}

#add {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: unset;
}

#play-icon {
	vertical-align: middle;
}

.mdl-layout__content {
	width: 100%;
}

.header {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 20px 10px 20px;
}

.mt-24 {
	margin-top: 24px;
}

.mdl-slider:not(.is-lowest-value) {
	&:active::-webkit-slider-thumb,
	&::-webkit-slider-thumb {
		background: #908af5 !important;
	}

	&:active::-moz-range-thumb,
	&::-moz-range-thumb {
		background: #908af5 !important;
	}

	&:active::-ms-thumb,
	&::-ms-thumb {
		background: #908af5 !important;
	}
}

.volumes-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-auto-rows: 1fr; This ensures that all rows take up an equal proportion of the available space */
	align-items: end;
	margin-bottom: 20px;
}

.volume-title {
	margin-bottom: 0;
}

p img {
	margin-right: 10px;
}

h2 {
	margin-top: 0;
}

.sub-label {
	margin: 8px 16px 4px;
	vertical-align: middle;
}

.play-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
